/* Add CSS Styling */
.odd{
    background-color: #FF000050;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#numberTwo{
    color: #0000FF;
    font-size: 36px;
}

.numberThree{
    font-size: 24px;
}

#numberFour{
    background-color: #90EE90;
    font-size: 24px;
    font-weight: bold;
}